.card button {
    background-color: #666664;
    color: white;
    border-radius: 5px;
}

.card button:hover {
    background-color: #cab395;
    color: black;
}

.card {
    margin: 10px 20px;
    padding: 10px;
}

.card-body {
    padding-bottom: 0;
}

.card p {
    margin: 5px;
}
