button {
    background-color: #666664;
    color: white;
    border-radius: 5px;
}

form button:hover {
    background-color: #bd9b6d;
    color: black;
}

.details-btn:hover {
    background-color: #bd9b6d;
    color: black;
}
