.nav-link:hover {
    color: #bd9b6d !important;
}

.me-auto .active {
    font-weight: bold;
    color: #bd9b6d !important;
}

.manage-btn {
    background-color: #666664;
    color: white;
    border-radius: 5px;
}

.manage-btn:hover {
    background-color: #cab395;
    color: black;
}

.form-control:focus {
    color: #666664;
    background-color: #fff;
    border-color: #0f0c08;
    outline: 0;
    box-shadow: none;
}
