footer {
    color: black;
    background-color: #bd9b6d;
}

footer a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    color: white;
}

.react-icon {
    vertical-align: baseline;
}
